.menu{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background: black;
}

.selected {
    background: orange;
}

.icon {
    margin: 20px;
    font-size: 3rem;
    fill: skyblue;
}
